.component.image-gallery {
  ol.indicator {
    li {
      font-size: 60px;

      @media (orientation: portrait) {
        top: -5px;
      }

      @media (orientation: landscape) {
        top: -2px;
      }
    }
  }

  ol.images {
    li {
      .image {
        height: 90% !important;
      }
    }
  }
}
