.component.image-scroller {
  ol.indicator {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;

    li {
      position: relative;
      display: inline;

      &:before {
        content: '\00b7';
        color: #fff;
      }

      &.active:before {
        color: #666;
      }
    }
  }
}
