.component.image-gallery {
  ol.indicator {
    li {
      top: 1px;

      &:before {
        font-size: 50px;
      }
    }
  }

  ol.images {
    li {
      .image {
        height: 90% !important;
      }
    }
  }
}
