.component.node-gallery {
  @include pullout;

  ol.indicator {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;

    li {
      display: inline;
    }

    li {
      position: relative;
      top: -20px;

      &:before {
        content: '\00b7';
        font-size: 60px;
        color: #fff;
      }

      &.active:before {
        color: #666;
      }
    }
  }


}
