.component.video-player {
  @mixin dimensions($scale: 1) {
    width: 480px * $scale;
    height: 320px * $scale;
  }

  .fake-video {
    $inner-color: lighten($chrome-color, 75%);
    $mid-color: lighten($chrome-color, 65%);
    $outer-color: lighten($chrome-color, 50%);

    display: block;
    @include dimensions(.65);
    background-image: -webkit-gradient(
      radial,
      50% 50%, 0,
      50% 50%, 300,
      from($inner-color),
      color-stop(0.5, $mid-color),
      to($outer-color)
    );

    background-size: cover;

    .play-button {
      @include pullout;
      z-index: 1;
      background: url(../icons/btn-video-player.png) no-repeat center center;
    }
  }

  .overlay {
    background-color: opacify($chrome-color, .5);
  }

  .ios &:not(.disabled) .fake-video {
    display: none;
  }

  .phone & {
    video {
      @include dimensions(.65);
    }
  }
}

