.component.zoomable-image-gallery {

  li {
    .wrapper {
      height: 90%;
    }
  }

  .image-nav {
    z-index: 1;
    position: absolute;
    width: 23px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    -webkit-background-origin: content-box;
    -webkit-background-size: 50% 50%;

    &.prev {
      @include button('../icons/btn-arrow-left-27x50.png', 14, 25, rgba(0, 0, 0, .7));
      background-position-x: left;
      padding-left: 4px;
      border-radius: 0 25px 25px 0;
    }

    &.next {
      @include button('../icons/btn-arrow-right-27x50.png', 14, 25, rgba(0, 0, 0, .7));
      background-position-x: right;
      border-radius: 25px 0 0 25px;
      padding-right: 4px;
      right: 0;
    }
  }

  .caption {
    @include resizable-font;

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    color: #fff;
    font-size: 13px;
  }

}
