.component.sibling-nav {
  $tablet-height: 125px;
  $phone-height: 77px;
  $handle-height: 18px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-transition: -webkit-transform 0.15s ease-in;

  .phone & {
    height: $phone-height;
    -webkit-transform: translate3d(0, 59px, 0);
  }

  .tablet & {
    height: $tablet-height;
    -webkit-transform: translate3d(0, 107px, 0);
  }

  &.open {
    -webkit-transform: translate3d(0, 0, 0);
  }

  .handle {
    height: $handle-height;

  }

  &.open .handle .toggler {
    -webkit-transform: rotate(180deg);
  }

  nav {
    .tablet & {
      height: $tablet-height - $handle-height;
    }

    .phone & {
      height: $phone-height - $handle-height;
    }

    @include flex-column-container;

    .controller {
      width: 60px;
      margin: 0 10px;
      @include flex-column-container;
    }

    ol.nodes {
      @include flex-region;
      @include flex-column-container;
      height: 100%;

      &, * {
        overflow: visible;
      }

      > li {
        width: 50%;

        @include flex-row-container;
        -webkit-box-pack: center;

        &.next {
          text-align: right;
        }

        &:only-child {
          width: 100%;
        }
      }
    }
  }
}
