.component.sibling-nav
  .handle{ dojoAttachPoint : 'handleNode' }
    .toggler
  %nav
    .controller.prev{ dojoAttachPoint : 'prevButton' } prev
    %ol.nodes{ dojoAttachPoint : 'siblingList' }
    .controller.next{ dojoAttachPoint : 'nextButton' } next


