// TODO: Find where this is used and either make it universal, or get
// rid of it.
@mixin nav {
  color: $chrome-text-color;
  background-color: darken($chrome-color, 2%);

  .tablet & {
    font-size: 21px;
    height: 60px;
  }

  .phone & {
    font-size: 14px;
    height: 40px;
  }
}

@mixin background-shadow($side:bottom) {
  border-#{$side}: 1px solid;
  @if ($font-scheme == dark) {
    background-color: transparentize(#000, .85);
    border-#{$side}-color: darken($app-background-color, 27%);
  } @else {
    background-color: transparentize(#fff, .9);
    border-#{$side}-color: lighten($app-background-color, 17%);
  }
}

@mixin button {
  -webkit-border-radius: 4px;
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(lighten($narrow-button-color, 12%)),
    to(darken($narrow-button-color, 12%))
  );
  border: 1px solid darken($narrow-button-color, 13%);
  font-size: 14px;
  font-weight: bold;
  color: $narrow-button-text-color;
  height: 26px;
  padding: 2px 15px 0 15px;
  margin: 5px;

  &:active {
    background-image: -webkit-gradient(
      linear, 0% 0%, 0% 100%,
      from($narrow-button-color),
      to(darken($narrow-button-color, 24%))
    );
    border: 1px solid darken($narrow-button-color, 26%);
  }

  &.highlight {
    background-image: -webkit-gradient(
      linear,
      0% 0%,
      0% 100%,
      from(lighten($narrow-button-highlight-color, 12%)),
      to(darken($narrow-button-highlight-color, 12%))
    );

    &:active {
      background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from($narrow-button-highlight-color),
        to(darken($narrow-button-highlight-color, 24%))
      );
      border: 1px solid darken($narrow-button-highlight-color, 26%);
    }
  }
}

@mixin wide-button {
  display: block;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(lighten($wide-button-color, 10.5%)),
    to(darken($wide-button-color, 10.5%))
  );
  -webkit-border-radius: 2px;
  border: 1px solid darken($wide-button-color, 10.5%);
  color: $wide-button-text-color;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 2em;
  padding: 2px 15px 0 15px;
  margin: 5px 0;

  &:active {
    background-image: -webkit-gradient(
      linear, 0% 0%, 0% 100%,
      from($wide-button-color),
      to(darken($wide-button-color, 20.5%))
    );
    border: 1px solid darken($wide-button-color, 20.5%);
  }
}

@mixin wide-icon-button($image-url) {
  @include wide-button;
  text-shadow: transparentize(#fff, .5) 0 -1px 0;
  background-image:
    url($image-url),
    -webkit-gradient(
      linear, 0% 0%, 0% 100%,
      from(lighten($wide-button-color, 10.5%)),
      to(darken($wide-button-color, 10.5%))
    );

  background-position: left center, center center;
  -webkit-background-size: contain;
  background-repeat: no-repeat;

  &:active {
    background-image:
      url($image-url),
      -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from($wide-button-color),
        to(darken($wide-button-color, 20.5%))
      );
    border: 1px solid darken($wide-button-color, 20.5%);
  }

  .label {
    margin-right: 5px;
    color: $wide-button-prefix-text-color;
  }
}


@mixin resizable-font {
  line-height: 1.45em;

  .font-size-small & {
    font-size: 75%;
  }

  .font-size-large & {
    font-size: 150%;
  }
}


@mixin chrome-gradient {
  $color-1 : $chrome-color + 20;
  $color-2 : $chrome-color;
  $color-3 : $chrome-color - 15;

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from($color-1),
    color-stop(0.5, $color-2),
    to($color-3)
  );
}

// TODO: DRY
@mixin chrome-gradient-flat() {
  $color-1 : $chrome-color + 30;
  $color-2 : $chrome-color;
  $color-3 : $chrome-color;

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from($color-1),
    color-stop(0.5, $color-2),
    to($color-3)
  );
}


@mixin box-shadow($x-offset, $y-offset, $blur: 5px) {
  -webkit-box-shadow: $x-offset $y-offset $blur 0 rgba(0, 0, 0, .5);
}


@mixin page-nav-button($type) {

  & a {
    -webkit-background-size: contain;
  }

  &.#{$type} a {
    background: url(resources/icons/light/btn-page-nav-#{$type}.png) no-repeat;
    background-position-y: center;
  }

  &.#{$type} a:active {
    background-image: url(resources/icons/dark/btn-page-nav-#{$type}.png);
  }

  &.#{$type}:first-child a {
    background-position-x: left;
  }

  &.#{$type}:last-child a {
    background-position-x: right;
  }
}

@mixin asset-icon($type) {
  &.#{$type} a {
    background: {
      image: url('resources/icons/dark/icon-asset-#{$type}.png');
      repeat: no-repeat;
      position: center right;
      size: 28px 26px;
    }
  }
}

@mixin content-padding {
  .phone & {
    padding: 8px;
  }

  .tablet & {
    padding: 12px;
  }
}

@mixin list-component-link {
  line-height: 1.6em;
  display: block;
  margin: 0 0 1px 0;
  font-weight: bold;
  color: $text-color;
  background-color: transparentize($child-nav-color, .5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  // TODO: Kludge for Wiley. Make this a parameter exported from MAP
  .feature-multiLineChildNodes & {
    overflow: visible;
    white-space: normal;
  }

  @if ($child-node-text-shadow == true) {
    text-shadow: 1px 1px 0 rgba(0,0,0, .2);
  }
}

@mixin child-node-link {
  padding: 6px 50px 6px 10px;
  -webkit-box-sizing: padding-box;

  background: {
    image: url('resources/icons/#{$font-scheme}/chevron.png');
    repeat: no-repeat;
    position: 98% center;
    size: 8px 20px;
  }
}

@mixin list-component {
  li {
    a {
      @include list-component-link;
    }
  }

  &.not-moving a:active {
    background-color: transparentize($child-node-active-color, .5);
  }
}

@mixin bottom-divider($space: 5px) {
  padding-bottom: $space;
  border-bottom: 1px solid #ccc;
  margin-bottom: $space;
}

@mixin fixed-height-gallery {
  position: static;

  // tablet portrait
  height: 450px;

  // tablet landscape
  @media (max-height: 850px) {
    height: 300px;
  }

  // phone portrait
  @media (max-height: 600px) {
    height: 190px;
  }

  // phone landscape
  @media (max-height: 350px) {
    height: 120px;
  }
}

@mixin caption-text {
  font-size: 14px;
  color: offset-text-color(40%);

  .phone & {
    font-size: 13px;
  }
}

@function offset-text-color($amount) {
  @return if(($font-scheme == dark),
    lighten($text-color, $amount),
    darken($text-color, $amount)
  );
}

@mixin portrait-column {
  width: 75%;
  margin-left: 12.5%;
}

@mixin content-padding {
  .phone & {
    padding: 8px;
  }

  .tablet & {
    padding: 12px;
  }
}

@mixin standard-screen {
  @include flex-row-container;

  .region.page-nav {
    @include fixed-flex-region;
  }
}

@mixin video-dimensions($scale: 1) {
  width: 480px * $scale;
  height: 320px * $scale;
}


@mixin body-text {
  @include resizable-font;

  p:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    @include resizable-font;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 16px;
    font-weight: normal;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 11px;
    font-weight: normal;
  }

  p {
    margin: 0 0 .9em 0;
  }

  blockquote {
    @extend p;
    margin: 0 40px;
  }

  ol, ul {
    padding-bottom: 1em;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }

  li {
    position: static;
    margin-left: 10px;
    display: list-item;
    list-style-position: inside;
    padding-bottom: 0.5em;
    text-indent: -15px;
    padding-left: 20px;
  }

  a {
    color: $link-color;
  }
}
