.component.image-scroller
  .wrapper
    %ol.images{ dojoAttachPoint : 'imageList' }
      :each img in images
        %li{ class : 'image ' + img.id }
          .image{ dojoType : 'toura.ui.BackgroundImage', imageUrl : img.url }
  %ol.indicator{ dojoAttachPoint : 'indicator' }
    :each img in images
      %li &#183;
