.component.page-nav {
  $icon-width: 40px;
  $icon-height: 30px;
  $btn-width : 65px;

  overflow: visible;
  z-index: 2;

  .tablet & {
    height: 60px;
  }

  .phone & {
    height: 40px;
  }

  > .top {
    -webkit-transform: translate3d(0, 0, 0);
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;

    width: 100%;
    position: absolute;
    z-index: 2;

    a {
      display: block;
      -webkit-background-size: contain;
    }

    h1 {
      -webkit-box-flex: 1;
      text-align: center;
      font-weight: normal;
      padding: 5px 0;
    }
  }

  > .more-drawer {
    position: absolute;
    z-index: 1;
  }

  .tablet & > .top {
    ul {
      padding: 10px;
      display: -webkit-box;
      -webkit-box-orient: horizontal;

      li {
        -webkit-box-flex: 1;
        width: $icon-width + 20;


        a {
          height: 40px;
        }
      }

      li.search:first-child {
        // fill extra space if the .more button isn't there
        width: 2 * ($icon-width + 20);
      }
    }
  }

  .phone & > .top {
    h1 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    div {
      width: $icon-width + 20;
      padding: 5px 0;

      a {
        height: 30px;
      }
    }
  }
}
