.component.debug
  .status{ dojoAttachPoint : 'status' }

  %table{ dojoAttachPoint : 'deviceInfo' }

  %ul.actions
    %li{ dojoAttachEvent : 'click:_weinre' } weinre
    %li{ dojoAttachEvent : 'click:_resetDB' } reset

