.component.ad-tag {
  background: $ad-background-color;
  text-align: center;
  width: 100%;

  .phone & {
    height: $phone-ad-height;

    iframe {
      height: $phone-ad-height;
      width: $phone-ad-width;
    }
  }

  .tablet & {
    height: $tablet-ad-height;

    iframe {
      height: $tablet-ad-height;
      width: $tablet-ad-width;
    }
  }

  iframe {
    border: none;
  }
}
