.component.audio-player {
  text-align: center;

  audio {
    width: 60%;
    padding-top: 12px;

    // iOS displays <audio> much higher than it should
    .ios & {
      padding-top: 16px;
    }
  }


  // Android native only <audio> doesn't work within PhoneGap
  form {
    width: 60px;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-border-radius: 5px;
    padding: 0px 0;

    @include chrome-gradient;
    @include box-shadow(0, 1px);

    input {
      -webkit-box-flex: 1;

      margin: 0;
      display: block;
      border: none;

      height: 30px;
      font-size: 15px;
      background-color: transparent;

      &.play {
        @include icon('resources/icons/btn-play.png', 30px, 30px);
      }

    }
  }

  &.playing input.play {
    @include icon('resources/icons/btn-pause.png', 30px, 30px);
  }
}
