.component.image-gallery {
  .phone & {
    padding: 15px 0 15px 0;
  }

  .tablet & {
    padding: 15px 0 25px 0;
  }

  .wrapper {
    -webkit-box-flex: 30;

    .image {
      -webkit-background-size: contain;
    }
  }

  ol.indicator {
    .phone & {
      padding: 10px 0 0 0;
      margin-bottom: -10px;

      li {
        font-size: 40px;
      }
    }

    .tablet & {
      padding: 14px 0 0 0;
      margin-bottom: -20px;

      li {
        font-size: 60px;
      }
    }
  }

}
