.component.more-drawer {
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(darken($chrome-color, 2%)),
    to(darken($chrome-color, 14%))
  );

  @include box-shadow(0, 1px);

  .phone & {
    section > * {
      border-top: 2px groove $chrome-color;
    }

    section:first-child > * {
      border-top: none;
    }
  }

  .tablet & {
    li.font-size {
      border-right: 1px solid $chrome-border-color;
    }
  }

  menu {
    margin: 8px 8px 4px 8px;

    li {
      &.favorite input {
        -webkit-appearance: none;
        border: none;
        background: url(resources/icons/light/btn-page-nav-favoriteoff.png) no-repeat;
        -webkit-background-size: contain;
        background-position-y: center;

        &:checked {
          background: url(resources/icons/light/btn-page-nav-favoriteon.png) no-repeat;
        }
      }

      @include page-nav-button(home);
      @include page-nav-button(font-size);
      @include page-nav-button(search);
      @include page-nav-button(twitter);
      @include page-nav-button(facebook);
      @include page-nav-button(email);
    }
  }
}
