.component.node-title-banner {
  @include content-padding;
  @include flex-column-container;

  .image {
    height: 50px;
    width: 75px;
    float: left;
    border: 1px solid $border-color;
    padding: 5px;
    background-position: center center;
    margin-right: 10px;
    -webkit-background-size: contain;
  }

  header {
    @include flex-region;
    h3 {
      font-size: 11px;
      padding-bottom: 8px;
    }

    h2 {
      font-size: 26px;
      font-weight: normal
    }
  }
}
