.component.sibling-nav {
  font-size: 13px;
  line-height: 15px;
  @include chrome-gradient;
  @include box-shadow(1px, 0);

  color: $chrome-text-color;

  .handle {
    @include chrome-gradient;
    @include box-shadow(0, 0, 5px);

    .toggler {
      @include icon('resources/icons/icon-sibling-nav-toggle-arrow.png', 18px, 18px);
      width: 100%;
    }
  }

  nav {
    .prev.controller {
      @include icon('resources/icons/btn-sibling-nav-prev-on.png', 20px, 20px, transparent, 20px, 100%);

      &.inactive {
        @include icon('resources/icons/btn-sibling-nav-prev-off.png', 20px, 20px, transparent, 20px, 100%);
      }
    }

    .next.controller {
      @include icon('resources/icons/btn-sibling-nav-next-on.png', 20px, 20px, transparent, 20px, 100%);

      &.inactive {
        @include icon('resources/icons/btn-sibling-nav-next-off.png', 20px, 20px, transparent, 20px, 100%);
      }
    }
    ol.nodes {
      > li {
        &.prev > span {
          padding: 15px 15px 15px 0;
        }

        &.next > span {
          padding: 15px 0 15px 15px;
        }

        // nudge for nicer vertical alignment
        .ios & span {
          position: relative;
          top: -.2em;
        }
      }
    }
  }
}
