.component.search-input {

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;

  .back {
    @include button('../icons/light/btn-page-nav-back.png', 30px, 30px);
    background-position: right;
    padding-left: 5px;

    &:active {
      background-image: url('../icons/dark/btn-page-nav-back.png');
    }
  }

  form {
    input[type=search] {
      background: #fff url(../icons/icon-search-input.png) no-repeat 6px center ;
    }

  }
}
