.DS_Store
.sass-cache
chromedriver.log
*.scssc
demos/*/builds
demos/*/tmp
js_builds/*
app/client_tmp/*
app/dojo-release-*
app/toura/app/DevConfig.js
app/toura/app/TouraConfig.js
app/data-fixtures/media*
app/data-fixtures/TouraConfig.js.*
log/*.log
tmp
chromedriver.log
app/fixtures/tour.js
lib/builder/project_templates/iOS/Toura/Toura-Info.plist
lib/builder/project_templates/iOS/Toura/UrbanAirship.plist
lib/builder/project_templates/iOS/build/*
lib/builder/project_templates/iOS/Toura-iPad.xcodeproj/*.pbxuser
lib/builder/project_templates/iOS/Toura-iPad.xcodeproj/*.mode1v3
lib/builder/project_templates/iOS/Toura.xcodeproj/*.pbxuser
lib/builder/project_templates/iOS/Toura.xcodeproj/*.mode1v3
lib/builder/project_templates/iOS/*.xcodeproj/project.xcworkspace/
lib/builder/project_templates/iOS/*.xcodeproj/xcuserdata/
