.page.debug
  .header{ dojoAttachPoint : 'pageNav' }

  .body
    %div{ dojoType : 'toura.ui.Scrollable' }
      %div
        %table{ dojoAttachPoint : 'deviceInfo' }

        %ul.actions
          %li{ dojoAttachEvent : 'click:_weinre' } weinre
          %li{ dojoAttachEvent : 'click:_resetDB' } reset

        %div{ dojoAttachPoint : 'status' }

