.component.pin-info

  %a.directions{ dojoAttachPoint : 'directionsNode', target : '_blank' }= i18n_directions
  %a.phone-number{ dojoAttachPoint : 'phoneNumberContainerNode' }
    %span.label= i18n_phone
    %span{ dojoAttachPoint : 'phoneNumberNode' }
  %a.website{ dojoAttachPoint : 'websiteContainerNode' }= i18n_website

  .bottom
    %section
      %header
        %h2{ dojoAttachPoint : 'nameNode' }
        %p{ dojoAttachPoint : 'addressNode' }
      %div{ dojoAttachPoint : 'captionNode' }

