.page.images-and-text-tablet {
  .screen.index {
    @include standard-screen;

    .region.image-container {
      @include background-shadow;
      @include flex-row-container;
      @include fixed-flex-region;
      padding-top: 10px;

      .component.image-gallery {
        @include fixed-height-gallery;
      }

      .region.caption {
        @include fixed-flex-region;
      }
    }

    .region.text-and-child-nodes {
      @include flex-column-container;

      @media (min-width: 800px) {
        @include portrait-column;
      }

      .region.child-nodes-container.empty {
        -webkit-box-flex: .188889;      // 1/6 width
      }
    }

    .component.body-text:not(.empty) {
      padding: 10px;
    }
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}

