@import 'settings';
@import 'helpers/mixins';
@import 'helpers/colors';
@import 'helpers/forms';

@import 'splash';

body {
  color: $text-color;
  font-family: $base-font;
}

a:link, a:active, a:visited {
  color: $link-color;
}

h2 {
  font-family: 'Cabin' !important;
}

@import 'components/base';
@import 'page_defs/base';
@import 'pages';
