@mixin watermark {
  background-image: url(../media/images/watermark.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}

@mixin box-shadow($x-offset, $y-offset) {
  -webkit-box-shadow: $x-offset $y-offset 5px 0 rgba(0, 0, 0, .5);
}

a:link, a:active, a:visited {
  color: $user-link-color;
}

h2 {
  font-family: 'Cabin' !important;
}

@import 'pages';
@import 'components';
@import 'child-nodes';
@import 'page-nav';
