@import 'helpers/mixins';
@import 'helpers/colors';
@import 'helpers/forms';

body {
  @include text-color;
  font-family: Helvetica Neue, sans-serif;
}

a:link, a:active, a:visited {
  color: $user-link-color;
}

h2 {
  font-family: 'Cabin' !important;
}

@import 'components/base';
@import 'templates/base';
@import 'pages';
