.page.audios-1 .index {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  .body {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    .row-1 {
      .ios & {
        background: transparent url(../icons/bg-inner-shadow.png) no-repeat;
        background-size: cover;
        background-position-y: 100%;
      }

      > div {
        @include pullout;
      }
    }

    .row-2 .audio-player {
      height: 40px;

      @if ($user-font-scheme == dark) {
        background-color: darken($user-background-color, 17%);
      } @else {
        background-color: lighten($user-background-color, 17%);
      }
    }
  }

}

.tablet .page.audios-1 .index {
  .row-1 {
    -webkit-box-flex: 2;
  }

  .row-3 {
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    -webkit-box-flex: 1;

    padding-top: 30px;

    .col-1 {
      -webkit-box-flex: 1;

      .text {
        margin: 0 40px 0 20px;
      }
    }

    .col-2 {
      -webkit-box-flex: 1;

      .caption {
        margin: 0 40px;
      }
    }
  }
}

.phone .page.audios-1 .index {
  .row-1, .row-3 {
    -webkit-box-flex: 1;
  }

  .body-text {
    padding: 0 10px;
  }
}

