%li.page.audios-1
  .detail.hidden{ dojoAttachPoint : 'detail' }

  .screen.index{ dojoAttachPoint : 'mainScreen' }
    .header{ dojoAttachPoint : 'pageNav' }

    .body
      .row-1
        %div{ dojoAttachPoint : 'imageGallery' }

      .row-2
        %div{ dojoAttachPoint : 'audioPlayer' }

      .row-3
        :if phone
          %div{ dojoType : 'toura.ui.Scrollable' }
            %div
              .audio-list{ dojoAttachPoint : 'audioList' }
              .child-nodes{ dojoAttachPoint : 'childNodes' }
              .caption{ dojoAttachPoint : 'audioCaption' }
              .body-text{ dojoAttachPoint : 'bodyText' }

        :if tablet
          .col-1
            %div{ dojoType : 'toura.ui.Scrollable' }
              %div
                %div{ dojoAttachPoint : 'childNodes' }
                .text{ dojoAttachPoint : 'audioCaption' }
                .text{ dojoAttachPoint : 'bodyText' }

          .col-2
            %div{ dojoType : 'toura.ui.Scrollable' }
              %div
                .caption{ dojoAttachPoint : 'imageCaption' }
                .audio-list{ dojoAttachPoint : 'audioList' }
