/* override theme defaults in this file */

.page.twitter {
  .region.box-user-list {
    width: 30%;
  }

  .region.box-user-info {
    padding: 0 10px;
  }

  .component.latest-tweet {
    padding: 10px;
    height: 120px;
    overflow: hidden;

    p.tweet {
      font-family: Georgia, serif;
      font-size: 200%;
      margin: 0 0 15px 0;
    }

    p.date {
      font-size: 80%;
      color: #6a6a6a;
    }
  }

  .component.google-map {
    height: 400px;
  }

  .component.user-list {
    padding: 10px;

    li {
      padding: 10px;
      font-size: 120%;
      background-color: #eaeaea;
      margin: 0 0 5px 0;
      display: -webkit-box;

      &.selected {
        background-color: red;
        color: #fff;
      }

      img {
        margin: 0 10px 0 0;
      }
    }
  }

  .component.user-info {
    padding: 10px;

    h1 {
      font-weight: bold;
      font-size: 120%;
      margin: 0 0 5px 0;
    }
  }
}

.page.user {
  .component.tweets {
    li {
      padding: 10px;

      &:nth-child(odd) {
        background-color: #eaeaea;
      }

      .date {
        margin: 5px 0 0 0;
        font-size: 80%;
        color: #666;
      }
    }
  }
}
