// components
$child-nav-color:  #e6e6e6;

$ad-background-color: #000;
$phone-ad-height: 50px;
$phone-ad-width: 300px;
$tablet-ad-height: 50px;
$tablet-ad-width: 300px;

$feed-list-active-color: #000;

$gallery-indicator-color: #fff;
$gallery-indicator-active-color: #666;
$gallery-indicator-outline-color: #ccc;

$full-screen-gallery-chrome-color: #000;
$full-screen-gallery-caption-color: #fff;

$child-node-text-shadow: false;
$child-node-active-color: #999;

$feed-item-font: Georgia, serif;

