%li.page.grid-view
  .screen.index
    %div{ dojoAttachPoint : 'pageNav' }

    .body
      %div{ dojoAttachPoint : 'headerImage' }

      .bottom
        %div{ dojoType : 'toura.ui.Scrollable' }
          %div
            %div{ dojoAttachPoint : 'bodyText' }
            %div{ dojoAttachPoint : 'childNodes' }
