.page.audio-with-images-tablet {
  .component.audio-caption,
  .component.image-caption {
    @include caption-text;

    &:not(.empty) {
      padding: 10px;
    }
  }

  .screen.index {
    @include flex-row-container;

    .region.page-nav {
      @include size-fixed;
    }

    .region.image-container {
      @include background-shadow;
      @include flex-row-container;

      .region.caption {
        @include size-fixed;
      }
    }

    .region.text-content {
      @include flex-column-container;

      .child-nodes:not(.empty) {
        padding-top: 10px;
      }

      .body-text:not(.empty) {
        padding: 10px;
      }
    }

    .region.audio-container {
      @include size-fixed;
      @include background-shadow(top);
      @include flex-column-container;

      .region.audio-active-player {
        @include flex-row-container;

        .region {
          @include size-fixed;
        }
      }

      audio {
        position: relative;
        top: -5px;
      }

    }
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}
