.component.pin-info {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  .body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;

    .bottom {
      -webkit-box-flex: 1;
    }
  }
}
