.component.node-gallery
  %ol.indicator{ dojoAttachPoint : 'indicator' }
    :each img in images
      %li

  .wrapper
    %ol.images{ dojoAttachPoint : 'imageList' }
      :each img in images
        %li{ class : 'image ' + img.id }
          .image{ dojoType : 'toura.ui.BackgroundImage', imageUrl : img.url, imageHeight : img.height, imageWidth : img.width }
