.component.connection
  %button{ dojoAttachPoint : 'reachableButton' } Network reachable?
  %button{ dojoAttachPoint : 'stateButton' } Network state
  %div{ dojoAttachPoint : 'connection' }
  %div{ dojoAttachPoint : 'state' }
