.page.google-map-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  .index {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    > .body {
      -webkit-box-flex: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }


  .detail {
    // override for dark color schemes
    color: #000;
  }

  .phone & {
    .detail {
      position: absolute;
      z-index: 3;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
