.component.child-nodes {
  li {
    display: inline-block;
    margin: 3px 0 0 7px;
    padding: 5px;

    a {
      font-weight: bold;
      font-family: TrebuchetMS;
      color: #ffcc00;
      font-size: 20px;

      display: block;
      width: 136px;
      text-align: center;
      padding: 29px 0;
      background-color: transparent;

      $top-color: #383838;
      $bottom-color: #2c2c2c;
      $mid-color: ($top-color + $bottom-color) / 2;

      border-radius: 8px;
      border: 1px solid lighten($top-color, .05%);
      border-top: 1px solid lighten($top-color, 5%);
      border-bottom: 1px solid $top-color;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);

      @if ($font-scheme == light) {
        text-shadow: 1px 1px 0 rgba(0,0,0, .2);
      }

      &.tapped {
        background-image: -webkit-gradient(
          linear,
          0% 0%,
          0% 100%,
          from(lighten($top-color, 5%)),
          color-stop(0.3, lighten($mid-color, 5%)),
          to(lighten($bottom-color, 5%))
        );
      }
    }
  }
}
