.component.page-nav {
  $icon-width: 40px;
  $icon-height: 30px;
  $btn-width : 65px;

  color: $chrome-text-color;

  @include box-shadow(2px, 0);

  .tablet & {
    height: 60px;
  }

  .phone & {
    height: 50px;
  }

  > .top {
    -webkit-transform: translate3d(0, 0, 0);
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;

    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 2;

    background: url(../media/images/home-footer.png) no-repeat !important;
    -webkit-background-size: cover;
    @include box-shadow(2px, 0);

    a {
      display: block;
      -webkit-background-size: contain;
    }

    h1 {
      -webkit-box-flex: 1;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }
  }

  > .more-drawer {
    position: absolute;
    z-index: 1;
  }

  .tablet & > .top {
    ul {
      li.back,
      li.more {
        border-right: 1px solid $chrome-border-color;
      }

      li {
        @include page-nav-button(back);
        @include page-nav-button(home);
        @include page-nav-button(menu);
        @include page-nav-button(search);
        @include page-nav-button(more);
      }
    }
  }

  .phone & > .top {
    div {
      @include page-nav-button(back);
      @include page-nav-button(more);
    }
  }
}
