.component.twitter {
  a {
    color: $link-color;
    font-weight: bold;
  }

  li {
    line-height: 1.4em;
    padding: 10px;

    p + p {
      margin: 5px 0 0 0;
    }

    .date {
      font-size: 70%;
    }

    &:nth-child(odd) {
      background-color: rgba(0,0,0, .04);
    }
  }
}
