.page.wiley-book-tablet {
  .region.content-container {
    @include flex-column-container;
    
    .region.book-display {
      @include fixed-flex-region;
      width: 300px;
    }
    
    .region.book-image {
      @include fixed-flex-region;
      height: 400px;
    }
    
    .component.image-caption {
      p {
        padding: 10px;
      }
      
      text-align: left;
      
      a {
        @include list-component-link;
        @include child-node-link;
        margin: 0 -10px;
        margin-top: 1px;
        
        &:first-of-type {
          margin-top: 5px;
        }
      }
    }
  }
  
  .region.book-context {
    
    .component.body-text {
      padding: 10px;
    }
  }
  
}