.page.wiley-book-phone {
  .region.text-container {
    -webkit-box-flex: 4;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    
    .component.body-text {
      padding: 10px;
    }
  }
  
  .region.book-display {
    @include flex-column-container;
    
    .region.book-image {
      width: 50%;
    }
  }
  
  .region.book-caption {
    a {
      @include list-component-link;
      @include child-node-link;
    }
  }
}