.component.sibling-nav {
  $tablet-height: 125px;
  $phone-height: 77px;
  $handle-height: 18px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-transition: -webkit-transform 0.15s ease-in;

  .phone & {
    height: $phone-height;
    -webkit-transform: translate3d(0, 59px, 0);
  }

  .tablet & {
    height: $tablet-height;
    -webkit-transform: translate3d(0, 107px, 0);
  }

  &.open {
    -webkit-transform: translate3d(0, 0, 0);
  }

  .handle {
    height: $handle-height;

    .toggler {
      @include icon('../icons/icon-sibling-nav-toggle-arrow.png', 18px, 18px);
      width: 100%;
    }
  }

  &.open .handle .toggler {
    -webkit-transform: rotate(180deg);
  }

  nav {
    .tablet & {
      height: $tablet-height - $handle-height;
    }

    .phone & {
      height: $phone-height - $handle-height;
    }

    @include column-container;

    .prev.controller {
      @include icon('../icons/btn-sibling-nav-prev-on.png', 20px, 20px, transparent, 20px, 100%);

      &.inactive {
        @include icon('../icons/btn-sibling-nav-prev-off.png', 20px, 20px, transparent, 20px, 100%);
      }
    }

    .next.controller {
      @include icon('../icons/btn-sibling-nav-next-on.png', 20px, 20px, transparent, 20px, 100%);

      &.inactive {
        @include icon('../icons/btn-sibling-nav-next-off.png', 20px, 20px, transparent, 20px, 100%);
      }
    }

    .controller {
      width: 60px;
      margin: 0 10px;
      @include column-container;
    }

    ol.nodes {
      @include pane;
      @include column-container;
      height: 100%;

      &, * {
        overflow: visible;
      }

      > li {
        width: 50%;

        @include row-container;
        -webkit-box-pack: center;

        &.next {
          text-align: right;
        }

        &:only-child {
          width: 100%;
        }
      }
    }
  }
}
