.page.home-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  .body {
    height: 100%;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    .top, .bottom {
      -webkit-box-flex: 1;
    }
  }

  .tablet & {
    .bottom {
      display: -webkit-box;
      -webkit-box-orient: horizontal;
    }

    .col-1, .col-2 {
      -webkit-box-flex: 1;
    }

    .body-text {
      padding: 0 20px 0 40px;
    }
  }

  .phone & {
    .bottom {
      .body-text {
        padding: 0 10px;
      }
    }
  }

  .header-image {
    margin-bottom: 20px;
  }

}

