%li.page.home-1
  .body
    :if !useHeaderImage
      .top

    :if useHeaderImage
      %div{ dojoAttachPoint : 'headerImage' }

    :if tablet
      .bottom
        .col-1
          %div{ dojoType : 'toura.ui.Scrollable' }
            %div{ dojoAttachPoint : 'bodyText' }
        .col-2
          %div{ dojoType : 'toura.ui.Scrollable' }
            %div{ dojoAttachPoint : 'childNodes' }
    :if phone
      .bottom
        %div{ dojoType : 'toura.ui.Scrollable' }
          %div
            %div{ dojoAttachPoint : 'bodyText' }
            %div{ dojoAttachPoint : 'childNodes' }

  %div{ dojoAttachPoint : 'appNav' }

