@import 'settings';
@import 'helpers/mixins';
@import 'helpers/forms';

body {
  color: $text-color;
  font-family: $base-font;
}

.page {
  background-color: $app-background-color;
}

@import 'components/base';
@import 'templates/base';

// KLUDGE: workaround for bug in ios where :last-child styles in captions are
// not applied until after scroller moves, which changes the height and breaks
// the scroller.
.component.body-text:not(.image-caption) {
  p:last-child {
    margin-bottom: 0;
  }
}

@import '../../javascript/components/Camera/camera';
@import '../../javascript/components/Geolocation/geolocation';
@import '../../javascript/components/Accelerometer/accelerometer';
@import '../../javascript/components/Notification/notification';
@import '../../javascript/components/Connection/connection';
@import '../../javascript/components/Browser/browser';
@import '../../javascript/components/Device/device';
