@mixin hidable {
  &.hidden {
    display: none !important;
  }
}

@mixin flex-container {
  display: -webkit-box;
  background-position: center center;
  -webkit-background-size: cover;


  &.row-container,
  &.component-container {
    -webkit-box-orient: vertical;
  }
}
