dojo.provide('toura.app.TouraConfig');

var toura = toura || {};
toura.app = toura.app || {};

toura.app._Config = {
  id     : '{{id}}',
  locale : 'en-US',
  buildDate : {{build_date}},
  appVersion : '{{app_version}}',

  updateUrl  : '{{{update_url}}}',
  versionUrl : '{{{version_url}}}',

  device : {
    os   : '{{os}}',        // android || ios
    type : '{{device_type}}' // phone   || tablet
  }
};

// force all images to come from S3. this
// is mainly used by MAP for the preview window.
toura.forceLocal = {{force_local}};
toura.forceStreaming = {{force_streaming}};

// change where the app should look for
// its initial data. this should be a file
// on your local system; default if false
// is './data/tour.json'
toura.localDataUrl = {{local_data_url}};

// skips checking for newer remote version.
// useful for speeding up non-data dev.
toura.skipVersionCheck = {{skip_version_check}};

// these are documented at https://github.com/Toura/toura_map/wiki/APP-Feature-Flags
toura.features = {
  multiLineChildNodes : false,
  sharing : true,
  favorites : true,
  fontSize : true,
  siblingNav : true,
  debugToolbar : {{debug}},
  debugPage : true
};
