%li.page.images-1
  .detail{ dojoAttachPoint : 'detail' }

  .screen.index{ dojoAttachPoint : 'mainScreen' }
    .header{ dojoAttachPoint : 'pageNav' }

    .body
      .top
        .content{ dojoAttachPoint : 'imageGallery' }

      .bottom

        :if phone
          %div{ dojoType : 'toura.ui.Scrollable' }
            %div
              .child-nodes{ dojoAttachPoint : 'childNodes' }
              .caption{ dojoAttachPoint : 'caption' }
              .nodeText{ dojoAttachPoint : 'nodeText' }

        :if tablet
          .col-1
            %div{ dojoType : 'toura.ui.Scrollable' }
              %div
                .child-nodes{ dojoAttachPoint : 'childNodes' }
                .nodeText{ dojoAttachPoint : 'nodeText' }

          .col-2
            %div{ dojoType : 'toura.ui.Scrollable' }
              .caption{ dojoAttachPoint : 'caption' }
