.image-detail {
  @include pullout;
  z-index: 1;
  height: 100%;

  // TODO: get rid of this
  .content {
    @include pullout;
  }

  ol {
    height: 100%;
  }

  .image-nav {
    z-index: 1;
    position: absolute;
  }

  .image {
    height: 100%;
    float: left;
    text-align: center;
    // width set by component js

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;

    .wrapper {
      height: 100%;
      -webkit-background-size: contain;
      background: no-repeat center center;
    }
  }

  .caption {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.clean {
    .detail-title, .caption, .image-nav, .page-nav {
      display: none;
    }
  }
}
