.component.image-detail
  %nav.header{ dojoAttachPoint : 'nav' }

  .content
    .image-nav.prev{ dojoAttachPoint : 'prevButton' }= i18n_prev

    %ol{ dojoAttachPoint : 'imageList' }
      :each img in images
        %li{ class : 'image ' + img.id }
          .wrapper{ dojoType : 'toura.ui.BackgroundImage', imageUrl : img.url, imageHeight : img.height, imageWidth : img.width }

    .image-nav.next{ dojoAttachPoint : 'nextButton' }= i18n_next

  .caption{ dojoAttachPoint : 'captionContainer' }
