.delete.button {
  $button-width: 30px;

  width: $button-width;
  background: url(../icons/btn-delete.png) center center no-repeat transparent;
  -webkit-background-size: contain;

  &.deleting {
    background-image: url(../icons/btn-delete-confirm.png);
  }

  .phone.android.version-2-1 & {
    -webkit-background-size: $button-width $button-width;
  }

}
