.component.image-gallery
  %ol{ dojoAttachPoint : 'imageList' }
    :each img in images
      %li{ class : 'image ' + img.id }
        .image{ dojoType : 'toura.ui.BackgroundImage', imageUrl : img.url, imageHeight : img.height, imageWidth : img.width }
