@mixin nav {
  color: #fff;
  background-color: lighten(rgb(0, 0, 0), 30%);

  .tablet & {
    font-size: 21px;
    height: 60px;
  }

  .phone & {
    font-size: 14px;
    height: 40px;
  }
}

@mixin background-shadow {
  .ios & {
    background: transparent url(../icons/bg-inner-shadow.png) no-repeat;
    background-size: cover;
    background-position-y: 100%;
  }
}

@mixin wide-button {
  display: block;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#9a9a9a));
  -webkit-border-radius: 2px;
  border: 1px solid #9a9a9a;
  color: #2b2b2b;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 2em;
  padding: 2px 15px 0 15px;
  margin: 5px 0;
}

@mixin wide-icon-button($image-url) {
  @include wide-button;
  text-shadow: transparentize(#fff, .5) 0 -1px 0;
  background-image:
    url($image-url),
    -webkit-gradient(
      linear, 0% 0%, 0% 100%,
      from(#e1e1e1),
      to(#9a9a9a)
    );

  background-position: left center, center center;
  -webkit-background-size: contain;
  background-repeat: no-repeat;

  &:active {
    background-image:
      url($image-url),
      -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(darken(#e1e1e1, 10%)),
        to(darken(#9a9a9a, 10%))
      );
  }

  .label {
    margin-right: 5px;
    color: #7d7d7d;
  }
}


@mixin resizable-font {
  line-height: 1.35em;

  .font-size-small & {
    font-size: 75%;
  }

  .font-size-large & {
    font-size: 150%;
  }
}


@mixin chrome-gradient {
  $color-1 : rgb(100,100,100);
  $color-2 : rgb(80,80,80);
  $color-3 : rgb(55,55,55);

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from($color-1),
    color-stop(0.5, $color-2),
    to($color-3)
  );
}

// TODO: DRY
@mixin chrome-gradient-flat() {
  $color-1 : rgb(110,110,110);
  $color-2 : rgb(80,80,80);
  $color-3 : rgb(80,80,80);

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from($color-1),
    color-stop(0.5, $color-2),
    to($color-3)
  );
}


@mixin box-shadow($x-offset, $y-offset) {
  -webkit-box-shadow: $x-offset $y-offset 5px 0 rgba(0, 0, 0, .5);
}


@mixin page-nav-button($type) {

  & a {
    -webkit-background-size: contain;
  }

  &.#{$type} a {
    background: url(../icons/light/btn-page-nav-#{$type}.png) no-repeat;
    background-position-y: center;
  }

  &.#{$type} a:active {
    background-image: url(../icons/dark/btn-page-nav-#{$type}.png);
  }

  &.#{$type}:first-child a {
    background-position-x: left;
  }

  &.#{$type}:last-child a {
    background-position-x: right;
  }
}

@mixin asset-icon($type) {
  &.#{$type} a {
    background: {
      image: url('../icons/dark/icon-asset-#{$type}.png');
      repeat: no-repeat;
      position: center right;
      size: 28px 26px;
    }
  }
}

@mixin content-padding {
  .phone & {
    padding: 8px;
  }

  .tablet & {
    padding: 12px;
  }
}

@mixin list-component {
  li {

    a {
      line-height: 1.6em;
      display: block;
      margin: 0 0 1px 0;
      font-weight: bold;
      @include text-color;
      background-color: transparentize($user-child-nav-color, .5);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // TODO: Kludge for Wiley. Make this a parameter exported from MAP
      .multi-line-child-nodes & {
        overflow: visible;
        white-space: normal;
      }

      @if ($user-font-scheme == light) {
        text-shadow: 1px 1px 0 rgba(0,0,0, .2);
      }

    }
  }

  &.not-moving a:active {
    background-color: transparentize($user-child-nav-color, .5);

    @if ($user-font-scheme == light) {
      background-color: darken(transparentize($user-child-nav-color, .5), 20%);

    } @else {
      background-color: lighten(transparentize($user-child-nav-color, .5), 20%);
      @include text-color(alternate);
    }
  }

}

