.component.video-player {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  position: absolute;

  .ios & {
    background: transparent url(../icons/bg-inner-shadow.png) no-repeat;
    background-size: cover;
    background-position-y: 100%;
  }

  &.has-html5-player {
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
  }

  video {
    height: 90%;
  }

  video,
  .fake-video {
    width: 100%;
  }

  .poster {
    display: block;
  }

  .play-button {
    position: absolute;
    width: 480px;
    height: 320px;
  }

  .overlay {
    display: none;
  }

  &.disabled {
    video {
      display: none;
    }

    .overlay {
      display: block;
    }
  }

}
