.page.default {
  .body-text {
    padding: 10px;
  }
  
  .tablet & {
    .main-content {
      
      .inner {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      
        .component {
          &.page-header-image,
          &.child-nodes {
            -webkit-box-ordinal-group: 1;
          }
        
          &.body-text {
            -webkit-box-ordinal-group: 2;
          }
          
          &.child-nodes,
          &.body-text {
            width: 640px;
          }
        }
      }
    }
  }
}
