.component.zoomable-image-gallery {
  @include pullout;
  height: 100%;

  .content {
    @include pullout;

    ol {
      height: 100%;
    }

    li {
      height: 100%;
      float: left;
      text-align: center;
      // width set by component js

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;

      .wrapper {
        height: 100%;
        -webkit-background-size: contain;
        background: no-repeat center center;
        -webkit-transform: translate3d(0,0,0);
      }
    }
  }

  &.chrome-hidden {
    .caption,
    .image-nav {
      display: none !important;
    }
  }
}
