.page.videos-and-text-tablet {
  .screen.index {
    .row.player-container {
      @include background-shadow;
      padding-bottom: 40px;
    }

    .row.listing-and-children {
      .child-nodes:not(.empty) {
        padding-top: 10px;
      }

      > .column:nth-child(1) {
        .body-text:not(.empty) {
          padding: 10px;
        }

        .body-text.video-caption {
          padding: 10px 20px 0 10px;
        }
      }

      > .column:nth-child(2) {
        .body-text {
          padding: 10px;
        }
      }
    }

    .video-list + .child-nodes {
      margin-top: .4em;
    } 
  }
}
