.page.audio-with-images-tablet {
  .screen.index {
    > .row:nth-child(2) {
      @include background-shadow;
    }

    > .row:nth-child(3) {
      height: 40px;

      @if ($user-font-scheme == dark) {
        background-color: darken($user-background-color, 17%);
      } @else {
        background-color: lighten($user-background-color, 17%);
      }

      audio {
        position: relative;
        top: -5px;
      }
    }

    > .row:nth-child(4) {
      .child-nodes:not(.empty) {
        padding-top: 10px;
      }

      > .column:nth-child(1) {
        .body-text:not(.empty) {
          padding: 10px;
        }
      }

      > .column:nth-child(2) {
        .body-text {
          padding: 10px;
        }
      }
    }
  }
}
