.page.location-list {
  .page-nav {
    h1 span {
      display: none !important;
    }
  }

  .image-gallery {
    position: relative;
    border-top: 1px solid $light-gray-2;
    border-bottom: 1px solid $light-gray-2;
    height: 200px;
    padding-top: 10px;
  }

  .body-text {
    @include content-padding;
    color: $text-color-2;
    font-size: 15px;

    h4 {
      font-weight: bold;
      font-size: inherit;
    }
  }
}
