header {
  position: relative;
}

#logo {
  background: url(../../img/header-logo.png) left 120px no-repeat,
  url(../../img/devices-transparent.png) right 160px no-repeat ;

  height: 285px;
  text-indent: -9999px;
  margin: 0;
  @include center-column;
}

@media screen and (max-device-width: 480px) {
  #logo {
    background: url(../../img/header-logo.png) left 20px no-repeat;
    background-size: contain;

    height: 105px;
  }
}


.signup {
  padding: 20px 0;
  background-color: #ff9600;
  color: #fff;
  font-family: Helvetica;
  position: relative;

  .get-in {
    width: 200px;
    float: left;
    position: relative;
    top: 4px;

    h2 {
      font-size: 19px;
    }
  }

  .inner {
    @include center-column;
  }

  h2 {
    margin: 0;
  }

  label {
    display: none;
  }

  input {
    font-size: 14px;
    margin-left: 20px;
  }

  input[type="text"] {
    color: $blue;
    -webkit-box-shadow: 0 1px 2px #ccc inset;
    -moz-box-shadow: 0 1px 2px #ccc inset;
    border: none;
    padding: 4px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    max-width: 140px;

    &::-webkit-input-placeholder {
      color: lighten($blue, 10%);
    }
  }

  input[type="submit"] {
    border: none;
    padding: 5px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    color: $blue;
    border: 1px solid $blue;
    font-weight: bold;
  }

  .thanks {
    font-size: 18px;
  }

  .extra-info {
    padding-top: 4px;
    margin-left: 220px;
  }

  @media screen and (max-device-width: 480px) {
    .extra-info {
      margin: 0 !important;
    }
  }
}

.error-msg {
  position: absolute;
  left: 0;
  right: 0;

  .inner {
    display: none;
    background-color: #d11318;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    padding: 8px 10px;
    font-size: 15px;
    text-align: center;

    border-radius: 0 0 5px 5px;
  }

  footer & {
    top: -30px;
    .inner {
      border-radius: 5px 5px 0 0 !important;
    }
  }
}

@media screen and (max-device-width: 480px) {
  .signup {
    h2 {
      margin: 0 0 10px 0 !important;
    }

    input {
      display: block !important;
      margin: 0 0 10px 0 !important;
    }
  }
}
