
body {
  font-family: Lucida Grande, Arial, "sans serif";
  color: #444444;
}

p {
  font-size: 15px;
  line-height: 24px;
}

li {
  font-size: 13px;
  line-height: 21px;
}

a {
  cursor: pointer;
  color: #c12252;

  &.img {
    text-decoration: none;
  }
}

a:visited {
  color: #a00030;
}

h1 {
  margin-top: 100px;
}

h2 {
  margin: 60px 0 10px 0;
  font-size: 24px;
}

p.filename {
  margin: 30px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #ccc;
  font-size: 90%;
}

p.filename + div {
  margin-top: 5px;
}

pre + p {
  margin-top: 30px;
}

p.small {
  font-size: 90%;
}

#main {
  @include center-column;
}
