/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$header-color: #ff9600;
$blue: #0076a3;
$page-width: 700px;

@mixin center-column {
  max-width: $page-width;
  margin: 0 auto;

  @media screen and (max-device-width: 480px) {
    & {
      padding: 0 10px;
    }
  }

}

@media screen and (max-device-width: 480px) {
  #logo {
    background: url(../../img/header-logo.png) left 20px no-repeat;
    background-size: contain;
    height: 85px;
  }
}

@import "h5bp";
@import "style";
@import "header";
@import "main";
@import "syntax-highlighter";
@import "footer";

