.page.images-and-text-phone {
  .screen.index {
    @include standard-screen;

    .region.image-gallery {
      @include background-shadow;
      @include flex-row-container;
      @include fixed-flex-region;

      .region.image-gallery {
        @include fixed-flex-region;
      }
      
      .component.image-gallery {
        @include fixed-height-gallery;
      }
      
      // see TODO below
      // border-bottom: 0;
    }
    
    .component.image-caption {
      // TODO: make the image caption visually associated
      // with the image, instead of with the body text
      // @include background-shadow;
    }

    .body-text:not(.empty) {
      padding: 10px;
    }
    
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}
