.page.images-and-text-tablet {
  .screen.index {
    @include standard-screen;

    .region.image-container {
      @include background-shadow;
      @include flex-row-container;
      @include fixed-flex-region;
      padding-top: 10px;

      .component.body-text:not(.empty) {
        padding: 0 10px 10px 10px;
      }

      .region.caption {
        @include fixed-flex-region;
      }

      .component.image-gallery {
        @include fixed-height-gallery;
      }

    }

    .region.text-and-child-nodes {
      @include flex-column-container;
      
      @media (min-width: 800px) {
        @include portrait-column;
      }

      .component.body-text:not(.empty) {
        padding: 20px;
      }

      .region.child-nodes-container {
        margin-top: 10px;                 // make consistent with body text

        &.empty {
          -webkit-box-flex: .188889;      // 1/6 width
        }
      }
    }
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}

