chromedriver.log
.DS_Store
javascript/toura/app/TouraConfig.js
javascript/toura/app/DevConfig.js
javascript/toura/system/*
javascript/data-fixtures/media-*
javascript/data-fixtures/TouraConfig.js.*
javascript/dojo-release-*
log/*.log
tmp
templates/iOS/Toura/Toura-Info.plist
templates/iOS/Toura/UrbanAirship.plist
templates/iOS/build/*
templates/iOS/Toura-iPad.xcodeproj/*.pbxuser
templates/iOS/Toura-iPad.xcodeproj/*.mode1v3
templates/iOS/Toura.xcodeproj/*.pbxuser
templates/iOS/Toura.xcodeproj/*.mode1v3
templates/iOS/*.xcodeproj/project.xcworkspace/
templates/iOS/*.xcodeproj/xcuserdata/
javascript/data-fixtures/media/
www/index.html
javascript/client_customizations/*
javascript/device
javascript/dev
javascript/MAP
javascript/MAG
