.component.image-scroller {
  ol.indicator {
    text-align: center;

    li {
      display: inline;

      color: $gallery-indicator-color;
      -webkit-text-stroke: .5px $gallery-indicator-outline-color;

      &.active {
        color: $gallery-indicator-active-color;
        -webkit-text-stroke: 0;
      }
    }
  }
}
