.component.video-player {
  .play-button {
    background: url(../icons/btn-video-player.png) no-repeat center center;
  }

  .overlay {
    background-color: opacify($chrome-color, .5);
  }
}

.android .component.video-player .play-button {
  background-image: none;
}
