.component.feed-item-detail
  .video{ dojoType : 'toura.components.VideoPlayer', dojoAttachPoint : 'videoPlayer' }
  %article{ dojoAttachPoint : 'content' }
  %a.full{ dojoAttachPoint : 'externalLink' }= i18n_viewOriginal
