.page.audio-with-images-tablet {
  .component.audio-caption,
  .component.image-caption {
    @include caption-text;
    &:not(.empty) {
      padding: 10px;
    }
  }

  .screen.index {
    > .region.image-container {
      @include background-shadow;
    }

    .region.audio-container {
      @include background-shadow(top);
      @include column-container;

      .region.audio-active-player {
        @include row-container;
      }

      audio {
        position: relative;
        top: -5px;
      }

    }

    > .region.text-content {
      .child-nodes:not(.empty) {
        padding-top: 10px;
      }

      > .column:nth-child(1) {
        .body-text:not(.empty) {
          padding: 10px;
        }
      }

      > .column:nth-child(2) {
        .body-text {
          padding: 10px;
        }
      }
    }
  }
}
