.component.node-title-banner
  :if image
    .image{ dojoType : 'toura.ui.BackgroundImage', imageUrl : image.url, loadOnInit: true }

  %header
    :if parentTitle
      %h3= parentTitle

    %h2= nodeTitle
