.region {
  @extend .layout-box;
  overflow: visible;

  &.size-fixed {
    > * {
      width: 100%;
    }
  }

  &.size-flex {
    -webkit-box-flex: 1;
  }

  &.layout-overlay {
    position: absolute;
    width: 100%;
  }

  .column-container > & {
    -webkit-box-orient: horizontal;

    .pane {
      @include pullout;
    }
  }

}
