mulberry = window.mulberry || {};
toura = window.toura || {};

mulberry._Config = {{{base_config}}};

// force all images to come from S3. this
// is mainly used by MAP for the preview window.
toura.forceLocal = {{force_local}};
toura.forceStreaming = {{force_streaming}};

// skips checking for newer remote version.
// useful for speeding up non-data dev.
toura.skipVersionCheck = {{skip_version_check}};

toura.features = {
  siblingNav : {{sibling_nav}},
  ads : {{ads}},
  sharing : {{sharing}},
  favorites : {{favorites}},
  fontSize : {{font_size}},
  multiLineChildNodes : {{multi_line_child_nodes}},
  debugPage : {{debug_page}}
};

mulberry.features = {
  debugToolbar : {{debug}}
};

mulberry.environment = '{{environment}}';
mulberry.feedProxyUrl = 'http://api.toura.com';

{{postscript}}
