.page.videos-and-text-tablet {
  .screen.index {
    .row.player-container {
      @include background-shadow;
    }

    .row.listing-and-children {
      .child-nodes:not(.empty) {
        padding-top: 10px;
      }

      > .column:nth-child(1) {
        .body-text:not(.empty) {
          padding: 10px;
        }
      }

      > .column:nth-child(2) {
        .body-text {
          padding: 10px;
        }
      }
    }
  }
}
