.component.body-text {
  @include resizable-font;
  
  font-size: 16px;
  
  .tablet & {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    @include resizable-font;
  }

  h1 {
    font-size: 2em;  /* 16px * 2 = 32px */
  }

  h2 {
    font-size: 1.5em;   /* 16px * 1.5 = 24px */
    font-weight: normal;
  }

  h3 {
    font-size: 1.1875em;  /* 16px * 1.1875 = 19px */
  }

  h4 {
    font-size: 1em;         /* 16px */
    font-weight: normal;
  }

  h5 {
    font-size: 0.8125em;    /* 16px * 0.8125 = 13px */
  }

  h6 {
    font-size: 0.6875em;    /* 16px * 0.6875 = 11px */
    font-weight: normal;
  }

  p {
    margin: 0 0 .9em 0;
  }

  blockquote {
    @extend p;
    margin: 0 40px;
  }

  ol, ul {
    padding-bottom: 1em;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }

  li {
    position: static;
    margin-left: 10px;
    display: list-item;
    list-style-position: inside;
    padding-bottom: 0.5em;
    text-indent: 10px;
  }

  a {
    color: $link-color;
  }
}
