.component.node-gallery {
  @include pullout;

  ol.indicator {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;

    li {
      display: inline;
    }

    li {
      position: relative;
      top: -20px;

      &:before {
        content: '\00b7';
        font-size: 60px;
        color: #fff;
      }

      &.active:before {
        color: #666;
      }
    }
  }

  .wrapper {
    height: 100%;

    ol.images {
      height: 100%;

      li {
        height: 100%;
        float: left;
        text-align: center;
        // width set by component js

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;

        .image {
          height: 100%;
          -webkit-background-size: cover;
          background: no-repeat center center;
          -webkit-transform: translate3d(0,0,0);
        }
      }
    }
  }

}
