@mixin resizable-font {
  line-height: 1.35em;

  .font-size-small & {
    font-size: 75%;
  }

  .font-size-large & {
    font-size: 150%;
  }
}

@mixin icon($img-url, $img-width, $img-height, $color:transparent, $el-width: $img-width, $el-height: $img-height) {
  display: block;
  text-indent: -9999px;
  background: $color url($img-url) no-repeat center center;
  -webkit-background-size: $img-width $img-height;
  width: $el-width;
  height: $el-height;
}

@mixin spinner($path, $speed: 1s) {
  background: url($path) no-repeat center center;
  -webkit-background-size: contain;
  -webkit-animation-name: spin;
  -webkit-animation-duration: $speed;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


@mixin hideable {
  &.hidden {
    display: none !important;
  }
}
