.page.home-capitol-js {
  .screen {
    background: url('../media/images/capitoljs-header.png') no-repeat;
    -webkit-background-size: contain;

    background-color: #353535;
    > .row > .row:first-child {
      margin-top: 119px;
    }
  }
}
